---
layout: layouts/base.njk
title: Studio Console
---

<div id="console-app" class="console">
  {% include "./desktop-console.njk" %}
  {% include "./mobile-console.njk" %}
</div>

<script src="/assets/js/app.js"></script>
<script src="/assets/js/console.js"></script>
